# 1- Variables y Operadores

Curso Introducción a Python - Tecnun, Universidad de Navarra

El objetivo de este documento es conocer algunos tipos de variables y operadores empleados en Python.

## Hello, world!

Pero, antes de entrar en materia, vamos a iniciarnos con la línea de código con la que empieza todo el mundo.

El comando *print()* nos muestra por pantalla lo que le pasemos como argumento. En este caso, queremos ver por pantalla el texto "Hello, world!".

In [2]:
print("Hello world!")

Hello world!

Obsérvese que podemos emplear tanto comillas simples como dobles para trabajar con cadenas de caracteres.

## Variables numéricas y operadores

Vamos a empezar por las variables numéricas. Las más empleadas son las variables enteras (**int**) y flotantes (**float**). Con 
las primeras podremos representar los números enteros, y, con las segundas, cualquier número con decimales.

In [4]:
x = 1
print(x)

1

In [5]:
entero = 2
flotante = 1.5
print(entero)
print(flotante)

2
1.5

In [6]:
entero + flotante

3.5

In [7]:
print(entero + entero
     )

4

In [8]:
entero*flotante

3.0

Podemos operar con los dos tipos de variables de la misma manera utilizando los operadores suma (**\+**), resta (**\-**), multiplicación (**\***) y división (**\/**). Debemos tener en cuenta que el resultado de cualquier operación realizada con variables flotantes será otra variable flotante. El resultado de cualquier operación realizada con variables enteras, por el contrario, será otra variable entera, a excepción de la división, que será flotante.

Python también permite mezclar variables enteras y flotantes en la misma operación. En este caso, el resultado siempre será flotante.

Existen otros tres operadores que nos pueden resultar de utilidad: la potencia (**\*\***), la división entera (**//**) y el residuo de la división(**%**). El resultado de estas operaciones mantiene la naturaleza de las variables con las que estamos operando.

Para terminar con las variables numéricas, introduciremos la función **type()**. Esta función nos mostrará el tipo de variable que estamos utilizando y se puede emplear para cualquier tipo de variable.

In [9]:
type(entero )

int

In [10]:
type(flotante
    )

float

In [11]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

## Cadenas de caracteres y operadores

Como hemos comentado más arriba, las cadenas de caracteres (string) puede escribirse con comillas simples o dobles.

In [14]:
h= "hello"
w= "world"
print(h)
print("\n")
print(w)

hello


world

De la misma forma que hemos hecho con las variables numéricas, podemos emplear los operadores suma (**\+**) y multiplicación (**\***) para operar con las cadenas de caracteres. Con el primer operador concatenaremos las cadenas que estamos "sumando", mientras que con el segundo repetiremos la cadena tantas veces como el número que la multiplica.

In [17]:
print(h+" "+w
     )

hello world

In [20]:
print((h+" ")*3)

hello hello hello

In [21]:
print(f"Hello world!")

Hello world!

In [22]:
name="fernando"
print(f"Hello {name}!")

Hello fernando!

Hay que tener mucho cuidado con los tipos de variable con los que estamos trabajando al hacer este tipo de operaciones. Véase un ejemplo:

In [26]:
str_a="2"
int_a=2
# print(int_a+str_a)

int(str_a)
print(int(str_a)+int_a)

4

El poder emplear las comillas simples o dobles para crear las cadenas de caracteres facilita la inclusión de estos símbolos en el texto.

Al igual que otros lenguajes de programación, Python permite acceder a los elementos de las cadenas de caracteres. Para ello, hay que tener en cuenta que el primer elemento de la cadena está ubicado en la posición 0.

## Conversión de tipos de variables

Utilizando las funciones **int()**, **float()** y **str()**, se pueden convertir las variables de un tipo a otro. De todas formas, hay que tener cuidado al convertir flotantes a enteros, o cadenas de caracteres a enteros o flotantes.

## Listas

Las listas son un tipo de variable que contienen distintas variables de cualquier tipo en su interior.

In [27]:
lista1= [1,2,3,4]
lista2= [1.0,2.0,3.0,4.0]
lista3=["Hello","world"]
print(lista1)
print(lista2)
print(lista3)

[1, 2, 3, 4]
[1.0, 2.0, 3.0, 4.0]
['Hello', 'world']

Las listas pueden contener elementos de distinta naturaleza.

In [29]:
lista1[0]

# en python la indexacion empieza desde cero

1

De la misma manera que con los elementos de las cadenas de caracteres, se puede acceder a los elementos de las listas de la siguiente manera:

## Otras variables

Aunque no entraremos en detalle, vamos a introducir tres tipos de variables más: los diccionarios, las tuplas y los conjuntos.

## Cortes de cadenas/listas

Como hemos comentado antes, las posiciones en las cadenas de caracteres y listas empiezan a contar desde 0.

El operador **:** se emplea para obtener los valores guardado en más de una posición del vector (corte del vector).

In [33]:
cadena4="abcdefg"
lista5=["a","b","c", "d", "e", "f", "g"]
print(cadena4[2])
print(lista5[0:5])

c
['a', 'b', 'c', 'd', 'e']

In [50]:
print(lista5[1:4])
print(lista5[0:6:2])
print(lista5[6::-1])
print(lista5[6:1:-2])

['b', 'c', 'd']
['a', 'c', 'e']
['g', 'f', 'e', 'd', 'c', 'b', 'a']
['g', 'e', 'c']

En este caso, a pesar de poner **[0:4]** estamos extrayendo los elementos guardados en las posiciones 0, 1, 2 y 3. **Es muy importante tener en cuenta que el primer valor (0) sí que se extraerá, pero no así el último**.

Aparte de acceder a los vectores por el primer elemento, también podemos acceder a ellos desde el último empleando el operador **-**.

También podemos extraer elementos a saltos, por ejemplo, aquellos elementos que están en posiciones pares. Para ello, volvemos a emplear el operador **:** junto con un tercer número que indica el paso.

Para terminar, también con el operador **-** podemos darle la vuelta al vector.